<svg class="leaf-pattern" aria-hidden="true">
  <defs>
    <pattern
      id="leaf-cluster-tile"
      width="253"
      height="276"
      patternUnits="userSpaceOnUse"
      patternTransform="rotate(8)"
    >
      <g opacity="0.55">
        <g transform="translate(45 55) rotate(-20)">
          <path
            d="M0 0C-15 12 -15 40 0 54C15 40 15 12 0 0Z"
            fill="var(--color-secondary-200)"
          />
          <path d="M0 6V48" stroke="var(--color-secondary-300)" stroke-width="1.5" />
        </g>
        <g transform="translate(170 110) rotate(14)">
          <path
            d="M0 0C-15 12 -15 40 0 54C15 40 15 12 0 0Z"
            fill="var(--color-secondary-200)"
          />
          <path d="M0 6V48" stroke="var(--color-secondary-300)" stroke-width="1.5" />
        </g>
        <g transform="translate(95 205) rotate(-8)">
          <path
            d="M0 0C-15 12 -15 40 0 54C15 40 15 12 0 0Z"
            fill="var(--color-secondary-200)"
          />
          <path d="M0 6V48" stroke="var(--color-secondary-300)" stroke-width="1.5" />
        </g>
      </g>
    </pattern>
  </defs>

  <rect width="100%" height="100%" fill="url(#leaf-cluster-tile)" />
</svg>
