.app-shell {
  position: relative;
  max-width: var(--app-max-width);
  min-height: 100vh;
  margin: 0 auto;
  background: var(--color-secondary-100);
}

.app-shell__content {
  position: relative;
  z-index: 1;
}
